/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
    --first-txt-color: #ffffff;
    --title-txt-color: #212121;
    --main-txt-color: #757575;
    --footer-info-txt: rgba(255, 255, 255, 0.6);
    --accent-txt-color: #2196f3;
    --background-color: #2f303a;
    --background-color-team: #f5f4fa;

    --main-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}